<a-scene embedded antialias="true" shadow="type: pcfsoft" light="defaultLightsEnabled: false">
	<a-assets>
		<img id="building_icon" src="/assets/ui/building.png">
		<img id="cancel_icon" src="/assets/ui/cancel.png">
		<img id="eye_icon" src="/assets/ui/eye.png">
		<img id="road_icon" src="/assets/ui/road.png">
		<img id="mountain_icon" src="/assets/ui/mountain.png">
	</a-assets>

	<a-entity web-socket="host: localhost; port: 8899" export="export: socket=web-socket"></a-entity>
	<!-- web-socket-logger  -->
	</a-entity>

	<a-entity id="city-editor" room="router: #GLOBAL; item: game" export="export: city-editor=[el]">

		<a-entity light="type: ambient; color: #BBB; intensity: 0.4"></a-entity>
		<a-entity light="type: directional; color: #FFF; intensity: 0.8" position="-0.5 1 1"></a-entity>

		<!-- <a-light position="0 10 0" color="white" type="point"></a-light> -->
		<!-- <a-box position="2 3 -10" billboard></a-box> -->
		<a-sky color="#ECECEC"></a-sky>
		<!-- <a-box position="-2 3 -10" color="blue"></a-box> -->

		<!-- <a-entity position="2 2 -10" button="text: Building_Bar" billboard></a-entity> -->

		<a-entity class="ground" terrain="blockCnt: 8; worldWidth: 200; raycaster: #main-controller"
			export="export: terrain">
		</a-entity>

		<!--
				router-switch="router: #main-controller; event: building_icon_widget_ui-widget-click; value: building"
				router-switch="router: #main-controller; event: road_icon_widget_ui-widget-click; value: road"
				router-switch="router: #main-controller; event: eye_icon_widget_ui-widget-click; value: preview"
				router-switch="router: #main-controller; event: mountain_icon_widget_ui-widget-click; value: morph" -->
		<!-- wheel="outerRadius:4; target: #road_icon, #building_icon, #eye_icon, #mountain_icon;" -->

		<a-entity id="wheelMenu">
			<a-entity position="-3 3 -10" scale=".5 .5 .5" wheel-menu>
			</a-entity>
		</a-entity>
		<a-entity id="buttonMenu">
			<a-entity button="text: building; width: 3; fontSize: 3" position="2 5 -10"
				router-switch="router: #main-controller; event: int-click; value: building"></a-entity>
			<a-entity button="text: road; width: 3; fontSize: 3" position="2 4 -10"
				router-switch="router: #main-controller; event: int-click; value: road"></a-entity>
			<a-entity button="text: preview; width: 3; fontSize: 3" position="2 3 -10"
				router-switch="router: #main-controller; event: int-click; value: preview"></a-entity>
			<a-entity button="text: morph; width: 3; fontSize: 3" position="2 2 -10"
				router-switch="router: #main-controller; event: int-click; value: morph"></a-entity>
			<a-entity id="button-send" button="text: send; width: 3; fontSize: 3" position="2 1 -10"></a-entity>
			<!-- <a-entity button="text: ; width: 3; fontSize: 3" position="2 0 -10"></a-entity> -->
		</a-entity>

	</a-entity>

	<a-entity building-manager export="export: building-manager"></a-entity>
	<a-entity basemap export="export: basemap"></a-entity>

	<a-camera position="0 1 0">

		<a-entity id="splash_main" splash="dst: #city-editor" export="export: splash=[el]"></a-entity>

		<!-- state machine -->
		<!-- <a-entity id="main-controller" router="active: preview" export="export: router">
		</a-entity> -->

	</a-camera>

	<a-entity main router id="GLOBAL">
		<a-entity router-item="login">
			<a-entity login id="login-controller">
			</a-entity>
		</a-entity>
		<a-entity router-item="game">
			<a-entity game id="main-controller" router="active: preview" intergrated-raycaster="objects: .ground"
				export="export: terrain-raycaster=raycaster, router, main">

				<a-entity router-item="building">
					<a-entity building-state></a-entity>
				</a-entity>
				<a-entity router-item="road">
					<a-entity road-state></a-entity>
				</a-entity>
				<a-entity router-item="preview">
					<a-entity preview-state></a-entity>
				</a-entity>
				<a-entity router-item="morph">
					<a-entity morph-state></a-entity>
				</a-entity>
				<!-- <a-entity router-item="preview" building-state></a-entity> -->
			</a-entity>
		</a-entity>
	</a-entity>

	<a-entity intergrated-raycaster></a-entity>

	<!-- <a-entity main intergrated-raycaster>
	</a-entity> -->

</a-scene>