<a-scene embedded antialias="true" shadow="type: pcfsoft">

	<a-entity main>
		<a-entity building-manager></a-entity>
	</a-entity>

	<a-entity id="city_editor" room>

		<a-light position="0 10 0" color="white" type="point"></a-light>
		<a-box position="2 3 -10" billboard></a-box>
		<a-sky color="#ECECEC"></a-sky>
		<a-box position="-2 3 -10" color="blue"></a-box>

		<a-entity position="2 2 -10" button="text: Building_Bar" billboard></a-entity>

	</a-entity>

	<a-camera position="0 1 0">
		<a-entity id="splash_main" splash="dst: #city_editor"></a-entity>
	</a-camera>

</a-scene>